<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>payroll</title>
    <style>
        .spaced-link {
            margin-right: 20px; /* Adjust the value as needed */
        }
    </style>
</head>
<body>
<h1>payroll</h1>

<a th:href="@{/payroll/payrollView}" class="spaced-link">view</a>
<a sec:authorize="hasRole('HR')" th:href="@{/payroll/payrollWrite}" class="spaced-link">write</a>
</body>
</html>